.project {
    margin-top: 20px;
}
table, th, td{
    border: 1px solid #ED1E2533;
}
thead {
    background: #FFF7F7;
}


th div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: center;
    color: #ED1E25;
}

tbody td {
    padding: 20px 10px;
}

.th_col {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    border-bottom: 1px solid #ED1E2533;
}
td:last-child::before,
th:last-child::before {
    width: 0;
    height: 0;
}

.list_btn_project {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.list_btn_project p {
    width: 154px;
    padding: 16px 10px 16px 10px;
    border-radius: 40px;
    text-align: center;
    background: #00B528;
    box-shadow: 0px 4px 20px 0px #2F8FE812;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.51px;
    color: #FFFFFF;
    cursor: pointer;
}

.reset_project {
    background: #FF1D1D !important;
}

.box_btn_project {
    display: flex;
    margin-bottom: 10px;
    margin-right: 15px;
    gap: 15px;
}

.btn_project {
    padding: 7px 22px;
    background: #FF7A00;
    border-radius: 30px;
    color: #FFFFFF;
}

.btn_project_cancel {
    background: #FF0F00;
}.body_add_project {
    border-radius: 10px;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    background: #fff;
    max-height: calc(100vh - 60px);
    overflow: auto;
}

.title_add_project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ED1E25;
    padding: 16px 41px;
    border-radius: 10px 10px 0 0;
}
.title_add_project svg{
    cursor: pointer;
}
.title_add_project p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

.w_50 {
    width: calc(50% - 15px);
}

.title_input {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 5px;
}

.title_input span {
    color: red;
}

.this_add_project input,.this_add_project select {
    padding: 2px 0 2px 5px;
    border:1px solid #B1B5C3;
    width: 89px;
}.data_index {width: 160px;}

.list_data_index {
    display: flex;
    gap: 20px;
}

.btn_add_project p {
    margin: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    background: red;
    border-radius: 30px;
    padding: 15px 44px;
}

.btn_add_project {
    margin: auto;
    cursor: pointer;
}
.click_date{
    position: relative;
}.inp_date {
    position: absolute;
    width: calc(100% - 1px);
    left: 0;
    top: calc(50% - 25px);
    height: 50px;
    border: unset;
}
.nav_pdate{
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 0px 4px 8px 0px #000000ab;
    padding: 10px;
    border-radius: 4px;
    width: calc(100% - 40px);
    text-align: left;
    z-index: 1;
}
.date_hv:hover .nav_pdate{
    display: block;
}
.active_date .nav_pdate{
    display: none !important;
}.status_project svg,.revenue svg ,.status_project_2 svg,.status_project_3 svg {
    rotate: 90deg;
    margin-left: 10px;
    position: absolute;
    right: 0;
}

.status_project,.revenue,.status_project_2,.status_project_3  {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: max-content;
    margin: auto;
    padding: 0 20px;
}.arr_status,.arr_status_2,.arr_status_3 {
    position: absolute;
    background: #e6e6e6fa;
    width: -webkit-fill-available;
    left: 0px;
    top: 0;
    border: 1px solid #ccc;
    min-height: calc(100% - 2px);
    display: none;
    z-index: 1;
}
.arr_status_2,.arr_status_2>.main_status,.arr_status_3{
    height: 100%;
}
.main_status p {
    padding: 5px;
    cursor: pointer;
}

.main_status p:hover {
    background: #00b528;
}

.sweet-alert {
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.55));
}.input_edit {
    width: -webkit-fill-available;
    height: calc(100% - 3px);
    display: block;
}

.main_status {
    min-height: 100%;
}
td a{
    width: 100%;
}.this_date {
    display: flex;
    border-top: 1px solid #ccc;
}

.list_date {
    width: 100%;
    position: absolute;
    background: #fff;
    box-shadow: 0px 4px 8px 0px #000000ab;
    top: 0;
    left: 0;
    min-height: 100%;
    display: none;
    z-index: 1;
}
p.ab_\% {
    position: absolute;
    right: -20px;
    top: 1px;
    font-size: 14px;
}
.this_add_project input {
    /* width: 38px !important; */
    /* margin-right: auto; */
    display: block;
}

.add_index {
    width: fit-content;
    font-size: 12px;
    background: #00CA2C;
    color: #fff;
    border-radius: 4px;
    padding: 0px 5px;
    cursor: pointer;
    margin-bottom: 2px;
}.del_index {
    width: 13px;
    margin-left: 24px;
}
.color0{
    color: #ccc;
}
.popup {
    display: none;
    background: #00000033;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.body_popup {
    width: 1024px;
    margin: auto;
    margin-top: 60px;
}

.main_popup {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px #2F8FE812;
}

.title_popup {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: left;
    margin-bottom: 20px;
}

.main_popup textarea {
    border-radius: 10px;
    width: -webkit-fill-available;
    height: 150px;
    padding: 10px;
}

.btn_popup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 20px;
}

.btn_popup p {
    border: 1px solid #797979;
    border-radius: 30px;
    padding: 10px 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.save_popup {
    background: #00B528;
    border: unset !important;
    color: #fff;
}
.popup_add_project {
    display: none;
    background: #00000033;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}.body_add_project {
    border-radius: 10px;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    background: #fff;
    max-height: calc(100vh - 60px);
    overflow: auto;
}.title_add_project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ED1E25;
    padding: 16px 41px;
    border-radius: 10px 10px 0 0;
}
.title_add_project svg{
    cursor: pointer;
}
.title_add_project p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}.main_add_project {
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px 30px;
}.this_add_project {
    width: calc(50% - 15px);
    position: relative;
}
.this_add_project input,.this_add_project select,.this_add_project textarea {
    border: none;
    width: -webkit-fill-available;
    height: 40px;
    border: 1px solid #B1B5C3;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}
.this_add_project .select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 12px;
    line-height: 44px;
}.this_add_project .select2-container {
    width: 100% !important;
}.title_input {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 5px;
}

.title_input span {
    color: red;
}.edit_project .select_add,.edit_project .select2-container {
    width:100% !important;
}
.btn_add_project p {
    margin: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    background: red;
    border-radius: 30px;
    padding: 15px 44px;
}

.btn_add_project {
    margin: auto;
    cursor: pointer;
}.w_100 {
    width: 100%;
}
.list_index_2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 15px;
    position: relative;
}.inp_index {
    position: relative;
}.ab_\% {
    position: absolute;
    top: 14px;
    right: 22px;
    font-size: 17px;
}p.name_index {
    height: 40px;
    border: 1px solid #B1B5C3;
    border-radius: 10px;
    padding-left: 10px;
    line-height: 36px;
    background: #dcdcdc;
}

.box_export{
    display: block !important;
}